//if you need some twitter bootstrap
//$icon-font-path: "../components/bootstrap-sass-official/assets/fonts/bootstrap";
//@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

@import 'vendor/h5bp/main';
@import 'vendor/necolas/normalize';
// @import 'vendor/meyerweb/reset';

@import 'components/index';

html,
body,
.page,
.container {
    /* Positioning */
    /* Box-model */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

body {
    /* Positioning */
    position: relative;

    /* Box-model */
    min-height: 100%;
    min-width: 320px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    /* Typography */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    /* Visual */
    background: #31343c;


    /* Misc */
    //if in webview and needs to feel more native:
    // -webkit-touch-callout: none;
    // -webkit-text-size-adjust: none;
    // -webkit-user-select: none;
    &.open {
        overflow: hidden;
    }
}

.content {
    /* Box-model */
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 940px;
}

header[role='banner'] {
    position: relative;
    height: 30%;
    min-height: 140px;
    /* Typography */
    color: #31343c;
    /* Visual */
    background: #31343c;
    background: #fff;
    // layer()
    // position fixed
    .logo {
        @include align();

    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }
    .claim {
        display: block;
        font-size: 1.2rem;
        color: #767d90;
        text-align: center;
    }
    .menu {
        display: none;
    }
}

nav[role='navigation'] {
    display: block;
    font-weight: 200;
    color: #fff;
    background: #53b2e5;
    ul {
        @extend .content;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                display: block;
                padding: 17px 20px;
            }
        }
    }
}

main {
    padding: 60px 16px 16px;
    //min-height: 100%;
}
