parseInt($n)
  $n / ($n * 0 + 1)
rem($value, $main-font-size = $font-size-base)
  parseInt($value) / parseInt($main-font-size) * 1rem

linear()
  cubic-bezier(0.25, 0.25, 0.75, 0.75)
easeInOutExpo()
  cubic-bezier(1, 0, 0, 1)
easeOutExpo()
  cubic-bezier(0.19, 1, 0.22, 1)
easeInOutQuart()
  cubic-bezier(0.77, 0, 0.175, 1)
