# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.sublime-project
*.sublime-workspace
.idea
npm-debug.log

# Project folders to ignore
node_modules
/material
/dist
/build
.sass-cache
/bower_components
/test/bower_components
/TODO
.package.sha1
