.layer {
    @include layer;
}

.gpu {
    @include gpu;
}

.perspective {
    perspective: 1200px;
    -webkit-perspective: 1200px;
    transform-style: preserve-3d;
}

.clearfix {
  @include cf();
}
