#forkongithub a
  background: #E26A6A
  color: #fff
  text-decoration: none
  font-family: arial, sans-serif
  text-align: center
  font-weight: 300
  padding: 0px 40px
  font-size: 1rem
  line-height: 2.5rem
  position: relative
  transition: background 0.5s

#forkongithub a:hover
  background: #31343c


#forkongithub
  position: absolute
  display: block
  top: 0
  right: 0
  width: 230px
  overflow: hidden
  height: 200px
  z-index: 9999

#forkongithub a
  width: 230px
  position: absolute
  top: 48px
  right: -48px
  transform: rotate(45deg)

