@import "vendor/h5bp/main.styl"
@import "vendor/necolas/normalize.styl"
// @import "vendor/meyerweb/reset.styl"



/* .class */
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

html
body
.page
.container

  width 100%
  height 100%
  margin 0
  padding 0


body
  position relative

  min-height 100%
  min-width 320px

  font-family 'Open Sans', sans-serif
  font-weight 400
  color #fff

  perspective 1200px

  &.no-touch
    -webkit-touch-callout none
    -webkit-text-size-adjust none
    -webkit-user-select none

  &.nav-open
    .page
      overflow hidden


.content
  margin: 0 auto;
  padding 0 1rem
  max-width: 940px;


.page
  background #31343c
  background #22313F

  @media all and (min-width:568px)
    z-index: -1
    top 0
    right 0
    left 0
    bottom 0
    position absolute

    overflow-y scroll
    -webkit-overflow-scrolling touch



header[role="banner"]

  position relative

  padding 2rem 0

  color #31343c
  text-align center

  background #fff



  h1
    margin 0
    padding 0

    font-size 3rem
    line-height 1

  .claim

    margin 0
    padding-top 0.5rem

    font-size 1.2rem
    color alpha(#31343c, 0.5)

  @media all and (max-width:568px)
    h1
      font-size 1.6rem
    .claim
      ont-size 1rem

  .menu
    display none



nav[role="navigation"]


  font-weight 200
  color #fff

  background #53b2e5
  background #52B3D9

  ul
    @extend .content
    padding 0
    list-style none
    li
      display inline-block
      a
        display block
        padding: 17px 20px


main
    padding: 260px 1rem 1rem



@import "components"

