{
  'functions': true
}

{{#items}}
  ${{name}}-x : {{px.x}};
  ${{name}}-y : {{px.y}};
  ${{name}}-offset-x : {{px.offset_x}};
  ${{name}}-offset-y : {{px.offset_y}};
  ${{name}}-width : {{px.width}};
  ${{name}}-height : {{px.height}};
  ${{name}}-total-width : {{px.total_width}};
  ${{name}}-total-height : {{px.total_height}};
  ${{name}}-image: '{{{escaped_image}}}';
  ${{name}} : {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}';

{{/items}}


{{#options.functions}}


/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/

@mixin sprite-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9)+'.png';
  background-image: url(#{$sprite-image});
}

@mixin sprite-image-retina($sprite) {
  $sprite-image: nth($sprite, 9)+'@2x.png';
  background-image: url(#{$sprite-image});
}

@mixin sprite-scale($sprite, $scale) {
  $sprite-offset-x: nth($sprite, 3) * $scale;
  $sprite-offset-y: nth($sprite, 4) * $scale;
  background-position: ($sprite-offset-x)  ($sprite-offset-y);

  $sprite-total-width: nth($sprite, 7) * $scale;
  $sprite-total-height: nth($sprite, 8) * $scale;
  background-size: $sprite-total-width $sprite-total-height;

  width: nth($sprite, 5) * $scale;
  height: nth($sprite, 6) * $scale;
}

$old-ie: false !default;

@mixin retina() {
  @if ($old-ie == false) {
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      @content;
    }
  }
}

@mixin sprite($sprite, $size: true) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);

  background-repeat: no-repeat;

  @if $size {
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  @include retina() {
    @include sprite-size($sprite);
    @include sprite-image-retina($sprite);
  }
}

//needs the parent to be relative or absolute
@mixin center-sprite($sprite){
  @include sprite($sprite);

  position: absolute;
  top:50%;
  left:50%;
  margin-left: -(nth($sprite, 5)/2);
  margin-top: -(nth($sprite, 6)/2);
}



{{/options.functions}}