.forkongithub {
  display: block;
  height: 200px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 230px;
  z-index: 9999;

  a {
    background: #e26a6a;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.5rem;
    padding: 0px 40px;
    position: absolute;
    right: -48px;
    text-align: center;
    text-decoration: none;
    top: 48px;
    transform: rotate(45deg);
    transition: background .5s;
    width: 230px;

    &:hover {
      background: #31343c;
    }
  }

}
