@font-face {
  font-family: 'lane_-_narrowregular';
  src: url("../fonts/LANENAR_-webfont.eot");
  src: url("../fonts/LANENAR_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LANENAR_-webfont.woff") format("woff"), url("../fonts/LANENAR_-webfont.ttf") format("truetype"), url("../fonts/LANENAR_-webfont.svg#lane_-_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
