html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html.android  {
  text-rendering: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
