*, *::before, *::after
    box-sizing: border-box


html, body, button
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased


//picture reset
picture
    margin  0
    padding  0
    border  0
    outline  0
    display  block

//button reset
button
    background none
    border none
    margin 0
    padding 0
    width auto
    overflow visible
    font inherit
    -webkit-appearance none

