
@font-face {
  font-family: 'AudiTypeExtNormal';
  src: url('../fonts/AudiTypeV03-ExtendedNormal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AudiTypeExtBold';
  src: url('../fonts/AudiTypeV03-ExtendedBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
