*, *::before, *::after {
  box-sizing: border-box;
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {

}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 940px;
}

.page {
  min-height: 100%;
  width: 100%;
  @media all and (min-width: 568px) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      visibility: hidden;
  }
}
